{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}">
    <title>Document</title>
</head>
<body>
    
    <div class=" w3-row-padding w3-black w3-padding-64 w3-container">
        <div class="sec-cover w3-content">
          <div class="w3-third w3-center">
            <i class="fas fa-10x fa-users w3-padding-64 w3-text-yellow w3-margin-right"></i>
          </div>
      
          <div class="w3-twothird">
            <h1 class="naming"><strong>--- Who We Are? ---</strong></h1>
            <h5 class="w3-padding-32">A REAL ORGANIZATION</h5>
      
            <p class="w3-text-grey">Black Investors Group is a wealth-driven organization that
                applies the principles of asset management to gather the
                fruitless spending habits of university students and
                convert them into long-term profitable investments.</p>
            <br>
            <p class="w3-text-grey">We create genuine wealth strategies founded on
                historically proven methods of wealth creation.</p>
          </div>
        </div>
      </div>
<div class="w3-row-padding w3-black w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1 class="naming"><strong>--- The Why ---</strong></h1>
        <h5 class="w3-padding-32">WE EXIST?</h5>
  
        <p class="w3-text-grey">Black Investors Group aims to play a major role in the
            transformation of the South African youth, from a
            population with too many unproductive youngsters with
            wasteful spending habits into a generation that is bent
            on investing, leading profitable businesses and
            harnessing their leadership skills</p>
      </div>
  
      <div class="w3-third w3-center">
        <i class="fas fa-10x fa-question-circle w3-padding-64 w3-text-yellow w3-margin-right"></i>
      </div>
    </div>
  </div>
      
      <div class="slogan w3-container w3-black w3-center w3-opacity w3-padding-64">
          <h1 class="w3-margin w3-xlarge w3-black">PARTNER WITH US,TODAY</h1>
      </div>
      
</body>
</html>